#content {

  #profile {
    display: flex;
    background-color: var(--bg-color);
    justify-content: space-between;
    color: var(--alabaster-grey);

    @media (max-width: 1200px) {
      flex-direction: column;
      width: 100%;

      #photo {
        width: 100vw;
      }

      #profile-left-column {
        padding: 40px;
        width: 80% !important;
      }

      #welcome-info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
    }

    #profile-left-column {
      font-size: 60px;
      width: 30%;
      font-weight: bolder;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      #email {
        font-size: 30px;

        @media (max-width: 1200px) {
          align-self: start;
          flex-wrap: wrap;
          padding-top: 30px;
        }
      }
    }

    #profile-right-column {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 1200px) {
        padding: 20px;
        width: 70%;
      }
    }

    .right-info {
      display: flex;
      align-items: center;

      span:first-of-type {
        font-size: 80px;
      }

      span:nth-of-type(2) {
        margin-left: 20px;
        font-size: 20px;
        width: 10px;

        @media (max-width: 1200px) {
          width: 100%;
        }
      }
    }

    img {
      width: 500px;
      position: relative;
      top: 4px;

      @media (max-width: 1200px) {
        max-width: 500px;
      }
    }
  }

  #timeline-education {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  #technologies {
    background-color: var(--bg-color);

    #technologies-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  #profile {
    position: sticky;
    top: 146px;

    @media (max-width: 1200px) {
      position: static;
    }
  }

  #education, #technologies {
    padding-bottom: 50px;
  }

  #education, #experience, #technologies {
    position: sticky;
    top: 0;

    @media (max-width: 1200px) {
      position: static;
    }
  }

  #education, #experience, #technologies {
    min-height: 100vh;
    width: 100vw;
  }

  #projects, #education, #experience {
    background-color: white;
  }

  #projects {

    .first-project-wrapper {
      padding-top: 150px;
      position: relative;

      .section-label {
        position: absolute;
        top: 0;
      }
    }

    @for $i from 0 to 4 {
      @if $i % 2 == 1 {
        .project-wrapper-#{$i} {
          background: var(--bg-color);

          span, p {
            color: var(--alabaster-grey);
          }
        }
      } @else {
        .project-wrapper-#{$i} {
          background: white;
        }

        span, p {
          color: var(--dark-teal);
        }
      }
    }

    .project-wrapper {
      display: flex;
      flex-direction: row;
      position: sticky;
      top: 0;

      @media (max-width: 1200px) {
        position: relative;
        flex-direction: column;
      }

      .project-image {
        background-color: var(--alabaster-grey);
        padding: 20px;
        margin: 40px 20px;
        border-radius: 4%;

        img {
          width: 800px;

          @media (max-width: 1200px) {
            width: 100%;
          }
        }
      }

      .project-description {
        padding-top: 20px;

        @media (max-width: 1200px) {
          padding: 20px;
        }

        span {
          font-size: 50px;
          font-weight: bolder;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .icons-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}