header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--header-font-color);

  #sections {
    font-size: xxx-large;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    width: 70%;
  }

  div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding-left: 40px;

    #phone-icon {
      color: var(--dark-teal);
      background-color: white;
      margin-left: 20px;
      padding: 12px;
      border-radius: 50%;
      box-shadow: -3px 3px 8px -6px #000000;
    }
  }
}