:root {
  --dark-teal: rgb(28, 90, 103);
  --deep-space-blue: rgb(24, 40, 58);
  --deep-space-blue-2: rgb(17, 41, 65);
  --espresso: rgb(75, 42, 29);
  --alabaster-grey: rgb(218, 219, 219);

  --bg-color: var(--dark-teal);
  --header-font-color: var(--alabaster-grey);
}